.wrapper {
  height: 20vh;

  .input {
    height: 13vh;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    div {
      display: flex;
    }

    .in1 {
      background: rgba(145, 158, 171, 0.08);
      border-radius: 8px;
      background-image: url(../../assets/Input/serch.svg);
      background-repeat: no-repeat;
      background-position: 10px;

      input {
        border: none;
        background: rgba(145, 158, 171, 0.08);
        border-radius: 8px;
        width: 320px;
        height: 48px;
        padding-left: 40px;
        font-family: "Poppins";
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
      }

      input::-webkit-input-placeholder {
        color: #919eab;
      }
    }

    .in2,
    .in3 {
      cursor: pointer;
      background: rgb(240, 240, 242);
      border-radius: 8px;
      padding-left: 28px;

      select {
        cursor: pointer;
        border: none;
        background: rgb(240, 240, 242);
        border-radius: 8px;
        width: 320px;
        height: 40px;
        margin: 5px 10px;
        font-family: "Poppins";
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #919eab;
      }
    }

    .in2 {
      background-image: url(../../assets/Input/keys.svg);
      background-repeat: no-repeat;
      background-position: 10px;
    }

    .in3 {
      background-image: url(../../assets//Input//map.svg);
      background-repeat: no-repeat;
      background-position: 10px;
    }
  }

  .bottNav {
    display: flex;
    gap: 10px;
    margin-left: 97px;

    .nav,
    .nav2,
    .nav4 {
      select {
        border: none;
        width: 103px;
        height: 34px;
        background: rgba(145, 158, 171, 0.08);
        border-radius: 8px;
        padding-left: 5px;
        font-family: "Poppins";
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #919eab;
      }
    }

    .nav3 {
      select {
        padding: 5px 10px;
        border: none;
        background: rgba(145, 158, 171, 0.08);
        border-radius: 8px;
        padding-left: 5px;
        width: 158px;
        height: 34px;
        font-family: "Poppins";
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #919eab;
      }
    }
  }

  .fillter {
    display: none;
  }
}

.button {
  height: 50px;
  img {
    padding: 5px 15px;
    width: 20px;
    background: #fa541c;
    border-radius: 8px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    height: 10vh;
    .input {
      display: none;
    }

    .bottNav {
      display: none;
    }

    .fillter {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 20px;

      div {
        padding: 5px 10px;
        background: #212b36;
        border-radius: 8px;
        display: flex;

        img{
            width: 20px;
        }

        button {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 14px;
          line-height: 26px;
          border: none;
          background: #212b36;
          border-radius: 8px;
          color: white;
        }
      }
    }
  }
}
