.wrapper {
  height: 20vh;

  .input {
    height: 13vh;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
    }

    .in1 {
      background: rgba(145, 158, 171, 0.08);
      border-radius: 8px;
      background-image: url(../../assets/Input/serch.svg);
      background-repeat: no-repeat;
      background-position: 10px;

      input {
        border: none;
        background: rgba(145, 158, 171, 0.08);
        border-radius: 8px;
        width: 300px;
        height: 48px;
        padding-left: 40px;
        font-family: "Poppins";
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
      }

      input::-webkit-input-placeholder {
        color: #919eab;
      }
    }

    .in2,
    .in3 {
      cursor: pointer;
      background: rgb(240, 240, 242);
      border-radius: 8px;
      padding-left: 28px;

      select {
        cursor: pointer;
        border: none;
        background: rgb(240, 240, 242);
        border-radius: 8px;
        width: 300px;
        height: 40px;
        margin: 5px 10px;
        font-family: "Poppins";
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #919eab;
      }
    }

    .in2 {
      background-image: url(../../assets/Input/keys.svg);
      background-repeat: no-repeat;
      background-position: 10px;
    }

    .in3 {
      background-image: url(../../assets//Input//map.svg);
      background-repeat: no-repeat;
      background-position: 10px;
    }

    .button {
      p {
        display: none;
      }
    }
  }

  .bottNav {
    display: flex;
    gap: 10px;

    .nav,
    .nav2,
    .nav4 {
      select {
        border: none;
        width: 103px;
        height: 34px;
        background: rgba(145, 158, 171, 0.08);
        border-radius: 8px;
        padding-left: 5px;
        font-family: "Poppins";
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #919eab;
      }
    }

    .nav3 {
      select {
        padding: 5px 10px;
        border: none;
        background: rgba(145, 158, 171, 0.08);
        border-radius: 8px;
        width: 158px;
        height: 34px;
        font-family: "Poppins";
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #919eab;
      }
    }
  }

  .fillter {
    display: none;
  }
}

.button {
  height: 50px;
  cursor: pointer;
  background: #fa541c;
  border-radius: 8px;
  padding: 0px 15px;

  img {
    width: 20px;
  }
}

.button:hover {
  background-color: #9d2b01;
  border-radius: 8px;
}

@media (max-width: 1153px) {
  .wrapper {
    .input {
      .in1 {
        input {
          width: 230px;
        }
      }

      .in2,
      .in3 {
        select {
          width: 230px;
        }
      }
    }
  }
}

@media (max-width: 970px) {
  .wrapper {
    .input {
      .in1 {
        input {
          width: 180px;
        }
      }

      .in2,
      .in3 {
        select {
          width: 180px;
        }
      }
    }
  }
}

@media (max-width: 810px) {
  .wrapper {
    .input {
      .in1 {
        input {
          width: 140px;
        }
      }

      .in2,
      .in3 {
        select {
          width: 120px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    height: 10vh;
    .input {
      display: none;
    }

    .bottNav {
      display: none;
    }

    .fillter {
      height: 100%;
      display: flex;
      justify-content: end;
      margin-right: 20px;
      align-items: center;
      border: none;

      .btn {
        padding: 5px 10px;
        background: #212b36;
        border-radius: 8px;
        display: flex;

        img {
          width: 20px;
        }

        button {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 14px;
          line-height: 26px;
          border: none;
          background: #212b36;
          border-radius: 8px;
          color: white;
        }
      }
      .box {
        display: flex;
        flex-direction: column;
        gap: 25px;
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .button {
          padding: 0 100px;
          img {
            width: 23px;
            position: relative;
            right: 10px;
            top: 14px;
          }

          span {
            font-size: 16px;
            position: relative;
            right: 0px;
            top: 7px;
            color: white;
          }
        }
      }

      .in_1 {
        border-radius: 8px;
        background: rgb(240, 240, 242);
        background-image: url(../../assets/Input/serch.svg);
        background-repeat: no-repeat;
        background-position: 10px;

        input {
          background: rgb(240, 240, 242);
          border: none;
          border-radius: 8px;
          height: 50px;
          width: 320px;
          margin-left: 40px;
          font-family: "Poppins";
          font-weight: 400;
          font-size: 14px;
          line-height: 26px;
        }
        input::-webkit-input-placeholder {
          color: #919eab;
        }
      }

      .in_2,
      .in_3 {
        border-radius: 8px;
        padding-left: 40px;
        background: rgb(240, 240, 242);

        select {
          background: rgb(240, 240, 242);
          border: none;
          border-radius: 8px;
          width: 320px;
          height: 45px;
          margin: 5px 5px;
          font-family: "Poppins";
          font-weight: 400;
          font-size: 14px;
          line-height: 26px;
          color: #919eab;
        }
      }

      .in_2 {
        background-image: url(../../assets/Input/keys.svg);
        background-repeat: no-repeat;
        background-position: 10px;
      }

      .in_3 {
        background-image: url(../../assets//Input//map.svg);
        background-repeat: no-repeat;
        background-position: 10px;
      }

      .content2 {
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 30px;
        gap: 20px;
      }

      .nav,
      .nav2,
      .nav4 {
        background: rgb(240, 240, 242);
        border-radius: 8px;
        padding: 0 5px;
        select {
          border: none;
          width: 100px;
          height: 34px;
          background: rgb(240, 240, 242);
          border-radius: 8px;
          padding-left: 5px;
          font-family: "Poppins";
          font-weight: 400;
          font-size: 14px;
          line-height: 26px;
          color: #919eab;
        }
      }

      .nav3 {
        background: rgb(240, 240, 242);
        border-radius: 8px;
        padding: 0 5px;
        select {
          padding: 5px 10px;
          border: none;
          background: rgb(240, 240, 242);
          border-radius: 8px;
          width: 158px;
          height: 34px;
          font-family: "Poppins";
          font-weight: 400;
          font-size: 14px;
          line-height: 26px;
          color: #919eab;
        }
      }
    }
  }
}
