.container {
  .latestNews {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .latestNewsLeft {
      width: 50%;
      img {
        width: 100%;
        height: 60%;
        border-radius: 24px;
        cursor: pointer;
      }
      .latestNewsLeftText {
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // margin-left: 100px;
        // margin-top: -310px;
        // position: absolute;
        background-color: #919eab;

        h1 {
          width: 480px;
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 54px;
          color: #ffffff;
          text-align: start;
        }
        p {
          width: 480px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          color: #ffffff;
          opacity: 0.48;
          text-align: start;
        }
        .newsTextLeft {
          text-align: start;
          display: flex;
          margin-top: 20px;
          .ul {
            background: #919eab;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            margin: 10px;
          }
        }
      }
    }
    .latestNewsRight {
      display: flex;
      flex-wrap: wrap;
      width: 48%;
      gap: 26px;

      .newsCards {
        .newsCard {
          text-align: start;

          h2 {
            width: 264px;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: #212b36;
          }
          .newsText {
            display: flex;
            margin-top: 20px;
            .ul {
              background: #919eab;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              margin: 10px;
            }
          }
        }
      }
    }
  }
}
