.footerBox {
  width: 100%;
  height: 436px;
  background-image: url(../../assets/footerImg/BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: var(--white-color);
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--white-color);
  }
  input {
    width: 429px;
    height: 56px;
    background: var(--white-color);
    backdrop-filter: blur(4px);
    border-radius: 8px 0px 0px 8px;
    border: none;
    padding: 0px 10px;
  }
  button {
    justify-content: center;
    align-items: center;
    padding: 11px 22px;
    width: 121px;
    height: 58px;
    background: var(--orange-color);
    border-radius: 0px 8px 8px 0px;
    border: none;
    color: var(--white-color);
  }
}

@media (max-width: 900px) {
  .footerBox {
    height: 436px;
    h1 {
      font-size: 38px;
    }
    p {
      font-size: 14px;
      width: 335px;
      margin: 0 auto;
    }
    input {
      margin-top: 30px;
      width: 180px;
    }
    button {
      width: 110px;
    }
  }
}
@media (max-width: 456px) {
  .footerBox {
    h1 {
      font-size: 32px;
    }
  }
}
@media (max-width: 380px) {
  .footerBox {
    h1 {
      font-size: 24px;
    }
    p {
      width: 230px;
    }
    input {
      width: 140px;
    }
    button {
      width: 100px;
    }
  }
}
@media (max-width: 280px) {
  .footerBox {
    h1 {
      font-size: 21px;
    }
    p {
      font-size: 12px;
    }
    input {
      width: 100px;
    }
    button {
      width: 94px;
    }
  }
}
