* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 144px;
}

@media (max-width: 1100px) {
  .container {
    padding: 0 97px;
  }
}
@media (max-width: 1130px) {
  .container {
    padding: 0 100px;
  }
}

@media (max-width: 1045px) {
  .container {
    padding: 0 86px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding: 0 60px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0 20px;
  }
}